html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.overlay {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(80,128,255,0.4);
  z-index: 9999;
  overflow-x:hidden;
  overflow-y:hidden;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.loader {
  font-size: 10px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(203,108,0, 0.2);
  border-right: 1.1em solid rgba(203,108,0, 0.2);
  border-bottom: 1.1em solid rgba(203,108,0, 0.2);
  border-left: 1.1em solid #cb6c00;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}